[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Evopedia
Comment=Offline Wikipedia Reader
Exec=/usr/bin/evopedia
Categories=Utility
Icon=evopedia-64x64
Terminal=false
