Source: evopedia
Section: misc
Priority: optional
Maintainer: Evopedia Developers <devs@evopedia.info>
Build-Depends: libqt4-dev, libbz2-dev, libx11-dev, debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://evopedia.info

Package: evopedia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Offline Wikipedia Viewer
 Evopedia uses compressed dumps of Wikipedia for offline use
 especially on mobile devices.
 .
 The geographical data in the articles is used to display a map of these
 articles. The images on Wikipedia are not contained in the dump but if you
 are connected to the internet, they are nevertheless shown.
