[Desktop Entry]
Version=1.0
Type=Application
Name=Evopedia
Comment=Offline Wikipedia Reader
Categories=Utility;Education;Qt;
Exec=/usr/bin/evopedia
Icon=/usr/share/pixmaps/evopedia-64x64.png
Terminal=false
